<ion-content>
  <p></p>
  <p></p>
  <ion-grid padding>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div style="margin-bottom: 4rem"></div>
        <ion-img class="ion-logo" src="/assets/logo.png"></ion-img>
        <h4 style="text-align: center;">Login to your account</h4>
        <ion-item>
          <ion-input
            type="text"
            placeholder="Enter username or email"
            [(ngModel)]="loginData.username"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            placeholder="Enter password"
            [(ngModel)]="loginData.password"
            required
          ></ion-input>
        </ion-item>
        <p></p>
        <ion-button color="light" (click)="login()" expand="full"
          >Login</ion-button
          >  <p></p>
        <ion-button color="dark" routerLink="/register" expand="full"
          >Create Account</ion-button
        >
        <h5 style="text-align: center">
          Forgotten your Password ?
          <a routerLink="/recover"> Recover it</a>
        </h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
