<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>How to pay</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
        <ion-row class="header">
          <ion-col size="8">
            <strong>Supported Payment Methods</strong><br>
          </ion-col>
        </ion-row>
        <div class="body">
            <ion-row>
                <ion-col size="4">
                <small class="left-col" >Mobile Money </small>
                </ion-col>
                <ion-col class="" size="8">
                    <small> Name: Jude Jonfiah <br> Phone No. 0246257238 </small>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                <small class="left-col">For Cheque Payment </small>
                </ion-col>
                <ion-col class="" size="8">
                    <small> Bank Account Name: FM Services Limited</small>
                </ion-col>
            </ion-row>
           
          </div>
          <p>Once payment is made. We'll confirm and approve it. Thank you</p>
      </ion-grid>
    
  </ion-content>
  