<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>How to pay</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
        <ion-row class="header">
          <ion-col size="8">
            <strong>Supported Payment Methods</strong><br>
          </ion-col>
        </ion-row>
        <div class="body">
            <ion-row>
                <ion-col size="4">
                <small class="left-col" >Mobile Money </small>
                </ion-col>
                <ion-col class="" size="8">
                  <strong>The steps is follows:</strong>
                    <p>
                        <strong>Step 1</strong> 
                        Dial *170# and send <br>
                        <strong>Step 2</strong> 
                        Enter 2 for momo pay <br>
                        <strong>Step 3</strong> 
                        Enter 1. Merchant ID (605608) <br>
                        <strong>Step 4</strong> 
                        Enter the amount and then your PIN.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                <small class="left-col">For Cheque Payment </small>
                </ion-col>
                <ion-col class="" size="8">
                    Bank Account Name: FM Services Limited
                </ion-col>
            </ion-row>
           
          </div>
          <p>Once payment is made. We'll confirm and approve it. Thank you</p>
      </ion-grid>
    
  </ion-content>
  