<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/customers/all-requests"></ion-back-button>
        </ion-buttons>
    <ion-title>Report Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row class="header">
        <ion-col size="8">
          <strong>Customer Name</strong><br>
          <small><strong>{{ userDetails.name }}</strong></small>
        </ion-col>
        <ion-col size="4">
          <p class="date">Requested on <br>
            {{ singleRequestData.date_added }}
          </p>
         </ion-col>
      </ion-row>
      <div class="body">
          <ion-row>
              <ion-col size="4">
              <small class="left-col" >Type </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.service_type }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col">Description </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.service_desc }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col">House No </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.house_no }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Area </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.house_area }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Landmark </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.house_landmark }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Digital Address </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.digital_address }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> City </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.city }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Region </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.region }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Your Start Date </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.start_date }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Your End Date </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.end_date }} </small>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="4">
              <small class="left-col"> Status </small>
              </ion-col>
              <ion-col class="" size="8">
                  <small> {{ singleRequestData.status }} </small>
              </ion-col>
          </ion-row>
        </div>
        <ion-button  *ngIf="singleRequestData.bill_generated_at !== null" color="light" routerLink='/customers/bills/{{  singleRequestBillData.request_id }}' expand="block">View Bill</ion-button>
        <ion-button  *ngIf="singleRequestData.bill_generated_at == null" color="light" disabled expand="block">No Blll Yet</ion-button>
        <p></p>
    </ion-grid>
  
</ion-content>
