.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.welcome-card  {
  background: #a03918;
  color: white;
}

ion-icon {
      font-size: 3em;
}

ion-card-subtitle{
  color: white !important;
}

ion-card-title{
  color: white !important;
}

.ion-logo {
  height: 30px;
  width: 150px;
}