h5{
  font-weight: 600;
  color: orange;
}
.one-class {
  display: none;
}

.another-class {
  display: block;
}
.req{
  color: red;
  font-size: 1.5rem;
  position: absolute;
  padding-left: 0.3rem;
}