.top-card{
  background-color: brown;
}
.ion-logo {
  height: 60px;
  width: 180px;
  display: block;
  margin: 0 auto;
  padding-top: 3px;
}
.header {
  background-color: blue;
  padding: 12px 5px 8px 9px;
  border-radius: 20px;
  color: white;
}

#date {
  padding-top: 10px;
}
.rec-title{
  padding-left: 30px;
  line-height: 35px;
}
.rec-title-total{
  padding-left: 30px;
}
hr{
  border-top: solid 1px gray;
}
.payment{
  height: 45px;
  width: 300px;
}