<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>Working Areas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid padding style="line-height: 1.5em">
      
        F.M. services offers a wide range of maintenance services that are customized and tailored to our client’s needs. Some of the places we work includes the following:
        <ul>
          <li>Private residential buildings</li>
          <li>Banks</li>
          <li>Commercial buildings.</li>
          <li>Office building </li>
          <li>Hosptals</li>
          <li>Schools</li>
          <li>Hotels</li>
          <li>Industrial facilities</li>
          <li>Church buildings</li>
          <li>Rented Apartments/Condominium</li>
        </ul>
      <ion-button  color="light" routerLink='/customers/request' expand="block">Make a request</ion-button>

    </ion-grid>
  </ion-content>
  
