<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/staffs/staff-dashboard"></ion-back-button>
        </ion-buttons>
    <ion-title>All Customter Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <!-- List of Sliding Items -->
<ion-list *ngIf="AllServiceRequests;else loader"> 
   <ion-searchbar animated (ionChange)="search( $event )" placeholder="Request name"></ion-searchbar>
    <ion-item-sliding *ngFor="let data of AllServiceRequests | adminRequestSearch: toSearch">
        <ion-item *ngIf="data.status == 'Not Started'" routerLink='/staffs/customer-request/{{ data.id }}'>
          <p>
            <small>Requested on {{  data.date_added }}</small>
            <br><small>
            by: {{  data.user_name }} - {{  data.service_type }}
               <span class="status" style="background-color: gray;">Not-Started</span>
          </small>
          </p>
        </ion-item>
        <ion-item *ngIf="data.status == 'On Going'"  routerLink='/staffs/customer-request/{{ data.id }}'>
          <p>
            <small>Requested on {{  data.date_added }}</small>
            <br><small>
              by: {{  data.user_name }} - {{  data.service_type }}
              <span class="status" style="background-color: orange;">On-Going</span>
          </small>
          </p>
        </ion-item>
        <ion-item *ngIf="data.status == 'Completed'"  routerLink='/staffs/customer-request/{{ data.id }}'>
          <p>
            <small>Requested on {{  data.date_added }}</small>
            <br><small>
              by: {{  data.user_name }} - {{  data.service_type }}
              <span class="status" style="background-color: green;">Completed</span>
          </small>
          </p>
        </ion-item>
        <!-- <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Delete</ion-item-option>
        </ion-item-options> -->
      </ion-item-sliding>    
     
  </ion-list>
  <h6 *ngIf="noData" style="text-align: center">{{ noData.message }}</h6>
</ion-content>
