<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/staffs/customer-requests"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Customer Request Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="header">
      <ion-col size="8">
        <strong>Customer Name</strong> <br />
        <small
          ><strong>{{ singleRequestData.user_name }}</strong></small
        >
      </ion-col>
      <ion-col size="4">
          <p class="date">Requested on <br>
            {{ dateAdded }}
          </p>
         </ion-col>
    </ion-row>
    <div class="body">
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Service Type </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.service_type }}</small>
          <small *ngIf="singleRequestData.service_type == 'General Maintenance'">: {{ singleRequestData.maintain_type }} </small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Service Desc </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.service_desc }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">House No </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.house_no }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Area </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.house_area }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Landmark </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.house_landmark }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Digital Address </small>
        </ion-col>
        <ion-col size="8">
          <small *ngIf="singleRequestData.digital_address !='';else not_applicable"> {{ singleRequestData.digital_address }} </small>          
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">City </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.city }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Region </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.region }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
            <ion-col size="4">
            <small class="left-col"> Request Date </small>
            </ion-col>
            <ion-col class="" size="8">
                <small> {{ dateAdded }}</small>
            </ion-col>
        </ion-row>
     <ion-row>
      <ion-col size="4">
      <small class="left-col"> Service Priority </small>
      </ion-col>
      <ion-col class="" size="8">
          <small> {{ singleRequestData.service_priority }}</small>
      </ion-col>
  </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Customer Start Date </small>
        </ion-col>
        <ion-col size="8">
          <span *ngIf="singleRequestData.start_date !='0000-00-00 00:00:00';else not_applicable"><small> {{ startDate }} </small></span> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Customer End Date </small>
        </ion-col>
        <ion-col size="8">
          <span *ngIf="singleRequestData.end_date !='0000-00-00 00:00:00'; else not_applicable"><small> {{ endDate }} </small></span>                  
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Status </small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.status }}</small>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Admin started on </small>
        </ion-col>
        <ion-col size="8">
          <span *ngIf="singleRequestData.admin_started_at;else not_applicable"><small> {{ adminStartDate }} </small></span> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Admin ended on</small>
        </ion-col>
        <ion-col size="8">
          <span *ngIf="singleRequestData.admin_ended_at;else not_applicable"><small> {{ adminEndDate }} </small></span> 
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="4">
          <small class="left-col">Served by</small>
        </ion-col>
        <ion-col size="8">
          <small>{{ singleRequestData.served_by }}</small>
        </ion-col>
    </ion-row>
    </div>
    <ion-row class="">
      <ion-col class="" size="6">
        <ion-button
          *ngIf="singleRequestData.status == 'Not Started'"
          color="success"
          (click)="startJob()"
          expand="block"
          >Start Job</ion-button
        >
        <ion-button
          *ngIf="singleRequestData.status == 'On Going'"
          color="light"
          (click)="endJob()"
          expand="block"
          >Finish Job</ion-button
        >
        <ion-button
          *ngIf="singleRequestData.status == 'Completed'"
          color="success"
          disabled=""
          expand="block"
          >Job Completed</ion-button
        >
      </ion-col>
      <ion-col class="" size="6">
        <ion-button
          *ngIf="singleRequestData.bill_generated_at == null"
          color="primary"
          routerLink="/staffs/create-bill/{{ singleRequestData.id }}"
          expand="block"
          >Generate Bill</ion-button
        >
        <ion-button
          *ngIf="singleRequestData.bill_generated_at !== null"
          color="light"
          routerLink="/staffs/customer-bills/{{ singleRequestData.id }}"
          expand="block"
          >View Bill</ion-button
        >
        <ion-button
          *ngIf="singleRequestData.bill_generated_at == null"
          color="light"
          disabled
          expand="block"
          >No Blll Yet</ion-button
        >
        <p></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #not_applicable>n\a</ng-template>
</ion-content>
