<ion-content>
    <p></p>
    <p></p>
    <ion-grid padding>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div style="margin-bottom: 4rem"></div>
          <ion-img class="ion-logo" src="/assets/logo.png"></ion-img>
          <h4 style="text-align: center;">Create new password</h4>
          <ion-item>
            <ion-input
              type="text"
              placeholder="Reset Code"
              [(ngModel)]="resetData.code"
              required
            ></ion-input>
            </ion-item>
            <ion-item>
            <ion-input
              type="password"
              placeholder="New password"
              [(ngModel)]="resetData.password"
              required
            ></ion-input>
            </ion-item>
            <ion-item>
            <ion-input
              type="password"
              placeholder="Re-type new password"
              [(ngModel)]="resetData.rpassword"
              required
            ></ion-input>
          </ion-item>
  
          <p></p>
          <ion-button color="light" (click)="reset()" expand="full"
            >Reset</ion-button
          >
          <p></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  