<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>Hotline</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
        <div class="body">
            <ion-row padding>
                    <p> <strong>Email: </strong> fmservicesgh@gmail.com <br>
                    <strong>Tel: </strong> 024 625 7238; 023 387 1700 </p>
            </ion-row>
           
          </div>
      </ion-grid>
    
  </ion-content>
  
