<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>Why choose Us?</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid padding style="line-height: 1.5em">
        <h6>Exquisite tailored made maintenance programs; </h6>
        Our services are designed to meet your organizations maintenance needs. Our free consultancy and advice and also our help improve your business. 
        <h6> Help you focus on core business</h6>
        Our services help save time and increase productivity and hence increase profitability for your company.
        <h6> Well trained operatives:</h6>
        FM services maintain our highly cherished custom of training all our operatives before engaging their services. We regularly train our staff to update them on modern trends their field of work.
        <h6>Due diligence in staff recruitment:</h6>
         Extensive background checks are done on all our potential cleaning staff before recruiting them, to ensure that they are honest have no criminal records, committed, respectful and have integrity.
        <h6>Cost, Quality and Timeless </h6>
        Our rates are unbeatable therefore all our clients have value for their money. At F.M. Services we insist on nothing but quality of work for our client’s quality of work is one of our care values.  Time is money; therefore we are time bound and work within our schedule.

         <p></p>
<h4>Some Of Our Clients </h4>

<h6>Trassacco Estate Development  Company</h6>
Corrective Floor works
<h6>The Church Of Jesus Christ of Latter Day Saints(Administration Office)</h6>
Number of renovation works on their buildings
<h6>Windsor Property Developers</h6>
    <p>Provided cleaning services</p>
 <h6>Trigon Energy</h6>
 Renovation works on their office buildings
<h6>Excelsior Apartment</h6>
Clinining Services
<h6>Meridian Port Services(MPS)</h6>
Construction works and renovation works

<h6>Ghana Port and Harbours Authorities(GPHA)</h6>
Renovation works at staff quarters

<h6>Glo Mobile Ghana Limited</h6>
Cleaning services
<p></p>
<h4>Contractual Agreement and Charges</h4>
When we receive request for expression of interest from a prospective client, their premises is visit for open and free discussions about specification of work, with the client and we offer professional advice for a better and mutual resolution through our proposals. Service charges are then negotiated
<ion-button  color="light" routerLink='/customers/request' expand="block">Make a request</ion-button>

</ion-grid>
</ion-content>

