<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>Why choose Us?</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
   <ion-grid padding>
  <ul>
    <li>Exquisite tailored made maintenance programs</li>
    <li>Help you focus on core business</li>
    <li>Our services help save time and increase productivity and hence increase profitability for your company</li>
    <li>Well trained operatives</li>
    <li>Due diligence in staff recruitment</li>
    <li>Cost, Quality and Timeless </li>
  </ul>
  <strong>Our rates are unbeatable therefore all our clients have value for their money. At F.M. Services we insist on nothing but quality of work for our client’s quality of work is one of our care values.  Time is money; therefore we are time bound and work within our schedule.</strong>
  <p></p>
  <ion-button  color="light" routerLink='/customers/request' expand="block">Make a request</ion-button>
 </ion-grid>
</ion-content>

