<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>About US</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid padding>
        <h6>WHO WE ARE</h6>
        F.M. Services Limited is a facilities management company and one of our core competences is building maintenance management services.
        Outsourcing maintenance management services is strategic decision that comes with great benefits. Our client who enjoys our services gains a lot of benefits as follows;
        
        <ul>
          <li>It saves them time and resources </li>
          <li>Increase productivity</li>
          <li>Increase efficiency</li>
          <li>Reduce cost and increase profitability</li>
          <li>Focuses on your core business competence</li>
        </ul>
       
       <h4>MISSION STATEMENT</h4> 

        <h6>OUR MISSION</h6> 
        <p>Our mission is to be the preferred brand for facilities Management Services, for commercial, industrial, institutional and residential clients throughout Ghana and beyond. </p>
        <h6>OUR VISION </h6>
        The vision of FM Services is to provide our client the requisite services to enable them focus on their core businesses, in other to enhance their profitability.  
        <h6>OUR CORE VALUES</h6>
        We strive to maintain our hard earned reputation by providing a quality service, working within schedule and offering competitive pricing to our clients. We believe that all of us are responsible for:
        <ul>
          <li>Creating customer delight</li>
          <li>Superior quality</li>
          <li>Continuous improvement</li>
          <li>Teamwork</li>
        </ul>
        
        <h6>OUR PEOPLE</h6>
        The strength of our company is based solidly on its people with a firm belief that our 'rock solid' business ethics will breed positive attitudes and yielding quality deliverables even in the most difficult circumstances.  Our work force ranges from skilled artisans to middle level technical supervisors as well as facilities managers with great experience.  We also have competent administrative staff and a consultancy team who are experts in their own field.
        
        <h6>COMPANY MANAGEMENT</h6>
        Our Managing Director Jude Jonfiah is a member of International Facilities Management Association (IFMA) USA, (FME) a Civil Engineer and seasoned business developer. He also holds BSc Project Management from Ghana Institute of Management and Public Administration (GIMPA). He has Nine years working experience in Facilities Management. 
        <p>Mr. Kofi Nti Ofori is a director. He is also member of Ghana Institution of Surveyors (GIS). He has a degree in Building Technology from KNUST. He has worked on several projects as contractor. He is currently a practicing Consultant.</p>
    </ion-grid>
  </ion-content>
  