<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/customers/dashboard"></ion-back-button>
          </ion-buttons>
      <ion-title>Our Services</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid padding style="line-height: 1.5em">
      <p>Below are the services we offer</p>
      <ul>
        <li>General Maintenance</li>
        <ul>
          <li>Electrical Works</li>
          <li>Carpentry Work</li>
          <li>Plumbing Works</li>
          <li>Painting Works</li>
          <li>Interior Decorations and Designs</li>
        </ul>
        <li>Housekeeping and Janitorial Services</li>
        <li>Landscaping and Ground Maintenance</li>
        <li>General Building Maintenance</li>
        <li> Securities/Fire Alarm Systems</li>
        <li>Facilities Management Consultancy</li>
        <li>Property Management</li>
      </ul>
      <ion-button  color="light" routerLink='/customers/request' expand="block">Make a request</ion-button>
        
        
       
        
        
    </ion-grid>
  </ion-content>
  